
<table class ="table table-bordered">
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.email %></td>

        <td>
        <% if can? :read, @admin %>  
          <%= link_to 'Mostrar', admin %>
        <%end%>
        <% if can? :update, @admin %>
          <%= link_to 'Editar', edit_admin_path(admin) %>
        <%end%>
        <% if can? :destroy, @admin %>
        <%= link_to 'Eliminar', admin, method: :delete, data: { confirm: '¿Estás seguro?' } %>
        <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

