

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @admin.role %>
</p>

<% if can? :update, @admin %>
	<%= link_to 'Editar', edit_admin_path(@admin) %> 
<%end%>
