

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @admin.role %>
</p>

<% if can? :update, @admin %>
	<%= link_to 'Edit', edit_admin_path(@admin) %> 
<%end%>
