<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @admin.password %>
</p>

<% if can? :update, @admin %>
	<%= link_to 'Edit', edit_admin_path(@admin) %> 
<%end%>
